---
layout: default
---
{% assign theme = site.data.colors %}

<div class="h-full flex flex-col">
  <div class="text-center py-8 max-h-[45vh] overflow-auto">
    <h2 class="{{ theme.page-header-text }}">Featured Posts</h2>
    <div class="flex flex-wrap justify-center gap-4 p-4">
      {% for post in site.posts %}
        {% if post.is_featured %}
          {% include featured-item.html
              title=post.title
              excerpt=post.excerpt
              icon='fa-comment'
              url=post.url
              date=post.date %}
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="text-center py-8 max-h-[45vh] overflow-auto">
    <h2 class="{{ theme.page-header-text }}">🛠️ Featured Projects 🛠️</h2>
    <div>
    {% if site.projects.size == 0 %}
      <p class="italic">Nothing here..</p>
    {% endif %}
    </div>
    <ul>
      <li>Sample Project 1 🥚</li>
      <li>Sample Project 2 🕹️</li>
      <li>Sample Project 3 🔮</li>
    </ul>
  </div>
</div>
