{% assign theme = site.data.colors %}
{% assign socials = site.data.socials %}

<div id="footer" class="h-full min-h-[10vh] flex justify-between text-sm">
  <div class="mt-auto px-4 py-2">
    Made with <i class="fa-solid fa-heart fa-fw text-rose-500"></i> by
    <a class="{{ theme.link }}" href="{{ socials.linkedin.link }}">Gerardo (Jerry) Quintero</a>
  </div>
  <div class="mt-auto px-4 py-2">
    <a class="{{ theme.link }}" href="{{ site.github_repository }}"><i class="fa-solid fa-code fa-fw"></i></a> on
    <a class="{{ theme.link }}" href="{{ socials.github.link }}">GitHub</a>
  </div>
</div>

<script type="text/javascript" src="{{ site.baseurl }}/assets/js/index.js"></script>
<script src="https://kit.fontawesome.com/ae05e64187.js" crossorigin="anonymous"></script>
{% comment %}
<script src="{{ site.baseurl }}/js/typeit.min.js"></script>
<script type="text/javascript">
    if(window.location.pathname === "/") {
        console.log(document.readyState);

        let typeIt = new TypeIt("#site-title", {
            strings: ["{{ site.title }}"],
            cursorChar: "_",
            speed: 95,
            afterComplete: instance => {
                new TypeIt("#site-description", {
                    strings: ["{{ site.description }}"],
                    cursorChar: "_",
                    speed: 50,
                }).go();

                // instance.destroy();
                typeIt.destroy();
            },
        }).go();
        console.log(document.readyState);
    }
</script>
{% endcomment %}

