{% assign theme = site.data.colors %}

<div id="sidebar" class="w-1/6 border-r border-gray-900 dark:border-gray-400 {{ theme.background-secondary }} p-8">
  <div class="text-center mb-4">
    <a class="text-4xl font-bold {{ theme.header-link }}" href="{{ site.baseurl }}">{{ site.title }}</a>
  </div>

  <div class="flex justify-center mb-4">
    <a href="{{ site.baseurl }}/about">
      <img src="{{ site.title_image }}" class="rounded-full hover:border-sky-500 transition duration-300 delay-100 {{ theme.border }}" height="150" width="150" alt="{{ site.title }}" />
    </a>
  </div>

  {% include social_links.html %}

  <h1 class="text-center italic mb-4">{{ site.description }}</h1>

  <ul class="text-lg px-4">
    {% for pg in site.data.pages %}
    <li class="{{ theme.page-link }}">
      <a class="flex gap-x-2 p-2 items-center justify-center" href="{{ site.baseurl }}{{ pg.link }}">
        <i class="flex-1 fa-solid {{ pg.icon }} fa-fw"></i>
        <span class="flex-3">{{ pg.name | upcase }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

