<div id="sidebar" class="w-1/6 {{ site.data.colors.background-offset }} p-8">
  <div class="text-center mb-4">
    <a class="text-4xl font-bold" href="{{ site.baseurl }}">{{ site.title }}</a>
  </div>

  <div class="flex justify-center mb-4">
    <img src="{{ site.title_image }}" class="rounded-full {{ site.data.colors.border }}" height="150" width="150" alt="{{ site.title }}" />
  </div>

  {% include social_links.html %}

  <h1 class="text-center italic mb-4">{{ site.description }}</h1>

  <ul class="text-lg px-4">
    {% for pg in site.data.pages %}
    <li class="{{ site.data.colors.page-link }}">
      <a class="flex gap-x-2 items-center justify-center" href="{{ site.baseurl }}{{ pg.link }}">
        <i class="flex-1 fa-solid {{ pg.icon }} fa-fw"></i>
        <span class="flex-3">{{ pg.name | upcase }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

