---
layout: default
---
{% assign theme = site.data.colors %}

{% if page.minutes %}
    {% assign minutes = page.minutes %}
{% else %}
    {% assign minutes = content | number_of_words | divided_by: 180 %}
    {% if minutes == 0 %}{% assign minutes = 1 %}{% endif %}
{% endif %}

<article id="post-content" class="{{ theme.markdown }}">
  <h1>{{ page.title }}</h1>
  <small>{{ minutes }} minute read</small>

  {% comment %}
    {% if page.thumbnail %}
    <i class="fas fa-{{ page.thumbnail }} fa-5x"></i>
    {% endif %}
  {% endcomment %}


  {{ content }}
</article>
